# Private config options for obd2-logger app

# Copyright (c) 2022 Natalia Pluta
# SPDX-License-Identifier: Apache-2.0

source "Kconfig.zephyr"

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"
