# Private config options for telemetry-system app

# Copyright (c) 2022-2024 Natalia Pluta
# SPDX-License-Identifier: Apache-2.0

mainmenu "Telemetry System"

menu "MQTT Configuration"

config MQTT_MAX_ITERATIONS
	int "Number of times to Publish sample MQTT messages"
	default 500
	help
	  Send sample MQTT messages this many times in a MQTT connection
	  before exiting. A value of zero means that the messages are sent
	  forever.

config MQTT_MAX_CONNECTIONS
	int "Number of times to connect to the MQTT server"
	default 0
	help
	  Number of times to connect to the MQTT server. With each connection
	  send MQTT_MAX_ITERATIONS amount of MQTT sample messages.
	  A value of zero means to continue forever.

endmenu

source "Kconfig.zephyr"
